{% extends 'HackatonDinningRoomBundle::layout.html.twig' %}

{% block content %}
    <div id="googleMap" style="width:500px;height:380px;"></div>

    <script type="text/javascript">
        function initializeMaps() {
            var markers = {{ locs|json_encode|raw }};
            var latlng = new google.maps.LatLng(-33.92, 151.25);
            var myOptions = {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
            var infowindow = new google.maps.InfoWindow(), marker, i;
            for (i = 0; i < markers.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(markers[i][1], markers[i][2]),
                    map: map
                });
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(markers[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
        google.maps.event.addDomListener(window, 'load', initializeMaps);
    </script>

    <div id="dinners">
        {% for dinner in dinners %}
            <div id="dinner">
                {{ dinner.name }}
                {{ dinner.description }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
